@model Demo_ASP_Core_MVC.Models.HomeViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="CreateTopic">Créer un nouveau topic</a>
</p>
<table class="table">
	<thead>
		<tr>
			<th>Titre</th>
			<th>Createur</th>
			<th>Dernier message</th>
		</tr>
	</thead>
	<tbody>
		@foreach (TopicWithLastMessage item in Model.Topics)
		{
			<tr>
				<td>
					@*@Html.ActionLink(item.Title, "Topic", new { Id = item.Id })*@
					<a asp-action="Topic" asp-route-id="@item.Id" asp-route-test="Demo">@item.Title</a>
				</td>
				<td>@item.Creator.Pseudo</td>
				<td>@item.LastMessage.SubmitDate</td>
			</tr>
		}
	</tbody>
</table>
